/* 
	
*/

li
{
	list-style-type: none;
}

.chat-box
{
	margin: 24px;
	height: 250px;
	width: 348px;
	background-color: #FFFFFF;	
	border: 1px solid #000000;
	background-image: url('./Canada_Maple_Leaf.svg.png');
	background-size: 348px 250px;	
}

#chat-box-background
{
	background-image: url('./Canada_Maple_Leaf.svg.png');
	background-size: 348px 250px;
	opacity: 0.5;
}

#chat-box-background::after
{
	
}

.txtblock
{	
	height: 100px;
	width: 344px;		
	border: 1px solid #000000;
	resize: none;
}

#chat-form
{
	margin: 24px;
}

#col-window
{
	height: 500px;
	width: 400px;
	background-color: #EBE9DD;
	border: 1px solid #555555;
}

.txtinput
{
	width: 162px;
	border: 1px solid #000000;
	margin-bottom: 24px;
}

#name
{
	margin-right: 17px;
}

#button
{
	margin-top: 12px;
	border: 1px solid #000000;
	width: 348px;
}

#chat-window
{
	margin: 0.5em;
	overflow-y: scroll;
	max-height: 225px;
}


